@media(max-width:768px){
    /* layout */
    .contents_wrap{}
    .Pc_ver{
        display: none;
    }
    .moMenu{
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1100;
        pointer-events: none;
    }
    .moMenu.show{
        pointer-events: auto;
    }
    .logoMo{
        /* width: 31.47vw; */
        width: 174px;
        max-width: 230px;
        margin: 0 auto;
        margin-top: 22px;
        margin-bottom: 42px;
    }
    .logoMo img{
        width: 100%;

    }
    .moGnb{
        background: #fff;
        position: absolute;
        left: 0;
        top: 0;
        width: 75vw;
        height: 100%;
        max-width: 310px;
        min-width: 290px;
        /* overflow: auto; */
        transition: all 0.5s ease 0.1s;
        transform: translateX(-100%);
    }
    .show.moMenu>.moGnb{
        transform: translateX(0%);
    }
    .blackcover{
        width: 100%;
        height: 100%;
        background: black;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0.5s ease 0s;
        pointer-events: none;
    }
    .moMenu.show .blackcover{
        opacity: 0.8;
        pointer-events: auto;
    }
    .mobileMenuList ul{
        /* display: none; */

        margin-top: 14px ;
        padding-left: 10px;
    }
    .mobileMenuList ul>li{
        color: #9a9a9a;
        font-weight: 400;
        margin-bottom: 8px;
    }
    .mobileMenuList ul>li:last-of-type{
        margin-bottom: 0;
    }
    .mobileMenuList{
        height: calc(100% - 130px);
        overflow: auto;
        width: 90%;
        margin: 0 auto;
    }
    .mobileMenuList>li{
        border-bottom: 1px solid #ccc;
        /* padding: 12px ; */
        font-size: 1.2rem ;
        font-weight: bold;
        position: relative;
    }
    .mobileMenuList>li>a{
        border-bottom: 1px solid #ccc;
        display: block;
        padding: 12px;
    }
    .mobileMenuList>li:after{
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        border: 1px solid #666;
        border-top: none;
        border-right: none;
        right: 10px;
        top: 14px;
        transform: rotate(-45deg);
    }











    header.Mo_ver{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 54px;
        z-index: 1000;
    }
    .innerheader{
        width: 88%;
        height: 100%;
        margin: 0 auto; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top:10px ;
    }
    .btnMoMenu{
             width:2rem;
            height:2.2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;

    }
    .btnMoMenu span{
        /* width: 30px;
        height: 2px;
        background: white;
        font-size: 0;
        margin-top: 7px; */
        width:100%;
        height:4px;
        background:#fff;
        display:block;
        margin:4px 0;

    }
    .btnMenuLang{
        width: 6.4vw;
    }
    .btnMenuLang img{
        object-fit: contain;
        height: 100%s;
        width: 100%;
    }
    .moLogos{
        width: 31.47vw;
        max-width: 230px;

    }
    .moLogos a img{
        width: 100%;
    }






    /* main */
    main{position:relative;}
    .videoBanner{
        height:60vh;
        position:relative;
    }
    .videoBanner:after{
        content:"";
        position:absolute;
        left:0;top:0;
        width:100%;
        height:100%;
        background:rgba(0, 0, 0, 0.2);
        /* opacity: 0.2; */
    }
    .videoBanner video{
        width:100%;
        height:100%;
        object-fit: cover;
    }
    .videoBanner>.flotingTxt{
        position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
        z-index: 10;
        text-align: center;
        width: 60vw;
    }
    .flotingTxt>h2{
        /* margin-bottom:50px; */
        margin-bottom: 50px;
        width: 100%;
    }
    .flotingTxt>h2>img{
        width: 100%;
    }
    .flotingTxt>a{
        padding:3vw 13vw;
        background:rgba(255, 255, 255, 0.391);
        display:inline-block;
        color:#fff;
        font-size: 1.2rem;
        border-radius: 4px;
    }
    
    /* news */
    .news{
        width:90%;
        margin:0 auto;
        margin-top:60px;
        margin-bottom:100px;
    }
    .news>h3{
        font-size:18px;
        font-weight: bold;
        margin-bottom:26px;
    }
    .news ul{
        display:flex;
    }

    .news .swiper-pagination{
        position: relative;
            
        margin-top: 50px;
    }

    

    .news .swiper-pagination-bullet-active{
        background: black;
    }
    .news ul>li:first-of-type{
        padding-left:0;
    }
    .news ul>li:last-of-type{
        padding-right:0;
        border-right:none;
    }
    .news ul>li h4{
        font-size:15px;
        font-weight: bold;
        margin-bottom:16px;
    }
    .date{
        font-size:10px;
        color:#9a9a9a;
        margin-bottom:28px;
    }
    
    /* culture */
    .culture{
        width:100%;
        margin-bottom:160px;
    }
    .culture>ul{
    }
    .culture>ul>li{
        height: 220px;
        position:relative;
        overflow: hidden;
        margin-bottom: 1px;
        /* width:20%; */
    }
    .culture>ul>li>a{
        display: block;
        height:100%;
    }
    .culture>ul>li>a>img{
        width:100%;
        height:100%;
        object-fit: cover;
        /* transition:all 0.5s ease 0s; */
        /* filter:grayscale(1); */
        filter: brightness(0.6);
    }
    /* .culture>ul>li:hover>a>img{
        filter: grayscale(0);
        transform:scale(1.3);
    } */
    .floatingBox{
        position:absolute;
        left:50%;top: 50%;
        transform:translate(-50%, -50%);
        text-align: center;
        color:#fff;
        
    }
    .floatingBox>h4{
        font-size: 22px;
        font-weight: bold;
        margin-bottom:18px;
        /* transform:translateY(20px);
        transition:all 0.5s ease 0s; */
    }
    /* .culture>ul>li:hover .floatingBox h4{
        transform:translateY(0);
    } */
    .floatingBox>p{
        padding-top:30px;
        position:relative;
        /* opacity: 1; */
        /* transition:all 0.5s ease 0s; */
    }
    /* .culture>ul>li:hover .floatingBox>p{
        opacity: 1;
    } */
    /* .floatingBox>p:after{
        content:"";
        position:absolute;
        left:50%;
        transform:translate(-50%);
        top:25%;
        width:30px;
        height:1px;
        background:#fff;
    } */
    .notice{
        width:90%;
        margin:0 auto;
    }
    .notice>ul{
        display:flex;
        justify-content: space-between;
    }
    .notice>ul>li{
        width:calc((100% - 60px)/4);
    }
    .notice li figure{
        height:190px;
        overflow: hidden;
    }
    .notice li figure img{
        width:100%;
        height:100%;
        object-fit: cover;
        transition:all 0.5s ease 0s;
    }
    /* .notice li:hover figure img{
        transform:scale(1.2);
    } */
    .notice .swiper-pagination{
        margin-top: 50px;
        position: relative;
    }
    .notice .swiper-pagination-bullet-active{
        background: black;
    }
    .notice li p{
        font-size:12px;
        margin:20px 0;
    }
    .notice li h4{
        font-size:15px;
        font-weight: bold;
    }
    
    footer{margin-top:100px;}
    .footMenu1{
        border-top:1px solid #ebebeb;
        padding-top:30px;
    }
    .footMenu1>ul{
        width:90%;
        margin:0 auto;  
    }
    .footMenu1>ul>li{
        overflow: hidden;
        height: 50px;
    }
    .footMenu1>ul>li.on{
        height: auto;
    }
    .footMenu1>ul>li>a{
        font-weight:bold;
        font-size:1.12rem;
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: space-between;
    }
    .footMenu1>ul>li>a::after{
        content: "";
        width: 24px;
        height: 24px;
        background: url(../img/icn_cm_plus.svg) no-repeat 50% 50%;
        background-size: contain;
        transition: all 0.5s ease 0s;
    }
    .footMenu1>ul>li.on>a::after{
        transform: rotate(45deg);
    }
    .footMenu1>ul>li>ul{
        color:#9a9a9a;
        font-size: 1rem;
        margin-left: 20px;
    }
    .footMenu1>ul>li>ul>li{
        height: 35px;
        display: flex;
        align-items: center;
    }
    .footMenu2{
        padding-bottom:75px;
    }
    .footMenu2>ul{
        width:90%;
        margin:0 auto;
    }
    .footMenu2>ul>li{
        height: 50px;
        display: flex;
        align-items: center;
        font-weight:bold;
        font-size:1.12rem;
    }
    .footMenu2>ul>li.blue{
        color:#3774DA;
    }
    .coInfo{
        display: flex;
        flex-direction: column-reverse;
        width:100%;
        margin:0 auto;
        justify-content: space-between;
        padding:26px 0;
    }

    .footLogo{
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .copy{
        color:#9a9a9a;
        margin-top: 5px;
    }
    .snsMenu{
        padding: 10px 0;
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
    }
    .snsMenu>ul{
        display:flex;
        justify-content: center;
    }
    .snsMenu>ul>li{
        width:38px;
        margin: 0 5px;
    }
    .snsMenu>ul>li img{
        width:100%;
    }
    .footLogo img{
        width:120px;
    }
    
    
    }
    
    
    
    