/* rset */
*{margin:0;padding:0;}
a{text-decoration:none;color:inherit;}
ul,ol{list-style: none;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight:400;}
em,i,address{font-style: normal;}
strong,b{font-weight: 400;}

/* common */
html{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:14px;
}

/* layout */
.contents_wrap{}
header{
    
    position:fixed;
    left:0;top:0;
    width:100%;
    color:#fff;
    z-index: 1000;
    height:70px;
    transition: all 0.5s ease 0s;
    overflow: hidden;
}
header::after{
    content: "";
    position: absolute;
    left: 0;
    top: 70px;
    height: 1px;
    width: 100%;
    background: #ddd;

}
.gnb>ul>li>ul>li:hover{
    color: #000;
}
header:hover{
    background:#fff;
    color:#000;
    height:300px;
}
/* header */
.innerHeader{
    width:1440px;
    margin:0 auto;
    display: flex;
    height:70px;
    justify-content: space-between;
    align-items: center;
}

.logoArea{width:160px;}
.logoArea img{width:100%; display: none;}
.logoArea a{
    display: block;
    width: 160px;
    height: 26px;
    background: url(../img/cm_bi_white.svg)no-repeat 50% 50%;
    background-size: contain;
}
header:hover .logoArea a{
    background: url(../img/cm_bi_black.svg)no-repeat 50% 50%;
    background-size: contain;
}
.langList{width:160px;}
.gnb{width:800px;}
.gnb>ul{display:flex;height:70px;}
.gnb>ul>li{
    
    flex:1;
    text-align: center;
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
.gnb>ul>li>a{
    font-weight: bold;
    font-size: 1.1rem;
}
.gnb>ul>li>ul{
    
    position:absolute;
    left:0;top:70px;
    width:100%;
    padding-top:20px;
}
.gnb>ul>li>ul>li{

    margin-bottom:10px;
    color: gray;
}
.gnb>ul>li>ul>li:last-of-type{
    margin-bottom:0;
}
.langList>ul{
    display: flex;
    justify-content: space-between;
}
.langList>ul>li{
   
    flex:1;
    text-align: center;
    position:relative;
}
.langList>ul>li:after{
    content:"";
    position:absolute;
    right:0;top:calc(50% - 5px);
    width:1px;height:10px;
    background:#fff;
}
.langList>ul>li:last-of-type:after{
    display:none;
}
.blankstyle::after{
    
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    background-image: url(../img/icn_header_new_win.svg);
}





main{border:10px solid blue;position:relative;}
.videoBanner{
    height: 780px;
    border: 5px solid crimson;
    position: relative;
}
.videoBanner::after{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.4);
}
.videoBanner video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flotingTxt{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.flotingTxt>h2{
    margin-bottom: 50px;
}
.flotingTxt>a{
    display: inline-block;    background: rgba(255, 255, 255, 0.4);
    padding: 30px 110px;
    color: white;
}
.flotingTxt>a::after{}
footer{border:10px solid green;}
