*{margin: 0; padding: 0;}

address,em,i{font-style: normal;}
strong,b{font-weight: normal;}
a{text-decoration: none;color: inherit;}






.box1{
    background: pink;
    margin:0 auto ;
    width: 600px;
    height: 700px;
    display: flex;
    font-size: 5rem;
    text-transform: uppercase;
    flex-direction:row;
    justify-content:flex-start;
    align-items: flex-start;
    /*flex-wrap: wrap;
    align-content: center;*/
}
/*.box1>div{width: 25%;
height: 250px;}*/
/*.box1>div{float: left;}
.box1::after{content: ""; display: block; clear: both;}*/
.box1>div{flex-basis: 100px; flex: 1; /*flex-grow: 1;/*flex-shrink: 1;*/}

.box1 .a{background: red; /*order: 0; align-self: flex-end; flex-shrink: 2;flex-grow: 2;*/}
.b{background: green; order: 3;}
.c{background: tan; order: 2;}
.d{background: darkorange; order:1;}