*{margin: 0;padding: 0;}
ul,ol{list-style: none;}
b{font-weight: inherit;}

.intro{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.mainVideo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.floatingTxt{
    position: absolute;
    border: 1px solid white;
    left: 50%;
    top: 50%;
    color: white;
    transform: translate(-50%,-50%);
    z-index: 2;
    padding: 20px;
    white-space: nowrap;
}
.floatingTxt>h1{
    perspective: 300px;
    font-size: 0;
    line-height: 98%;
    padding-bottom: 20px;
}
.floatingTxt>h1>b{
    line-height: 3.5rem;
    font-size: 3.5rem;
    opacity: 0;
    display: inline-block;
}
.floatingTxt>h1>b:nth-of-type(1){animation: introAni 1s linear forwards 0s;}
.floatingTxt>h1>b:nth-of-type(2){animation: introAni 1s linear forwards 0.25s;}
.floatingTxt>h1>b:nth-of-type(3){animation: introAni 1s linear forwards 0.50s;}
.floatingTxt>h1>b:nth-of-type(4){animation: introAni 1s linear forwards 0.75s;}
.floatingTxt>h1>b:nth-of-type(5){animation: introAni 1s linear forwards 1s;}
.floatingTxt>h1>b:nth-of-type(6){animation: introAni 1s linear forwards 1.25s;}
.floatingTxt>h1>b:nth-of-type(7){animation: introAni 1s linear forwards 1.50s;}
.floatingTxt>h1>b:nth-of-type(8){animation: introAni 1s linear forwards 1.75s;}
.floatingTxt>h1>b:nth-of-type(9){animation: introAni 1s linear forwards 2s;}
.floatingTxt>h1>b:nth-of-type(10){animation: introAni 1s linear forwards 2.25s;}
.floatingTxt>h1>b:nth-of-type(11){animation: introAni 1s linear forwards 2.5s;}
.floatingTxt>h1>b:nth-of-type(12){animation: introAni 1s linear forwards 2.75s;}
.floatingTxt>h1>b:nth-of-type(13){animation: introAni 1s linear forwards 3s;}
.floatingTxt>h1>b:nth-of-type(14){animation: introAni 1s linear forwards 3.25s;}
.floatingTxt>h1>b:nth-of-type(15){animation: introAni 1s linear forwards 3.5s;}
.floatingTxt>h1>b:nth-of-type(16){animation: introAni 1s linear forwards 3.75s;}
.floatingTxt>h1>b:nth-of-type(17){animation: introAni 1s linear forwards 4s;}
.floatingTxt>h1>b:nth-of-type(18){animation: introAni 1s linear forwards 4.25s;}

.floatingTxt>p{
    font-size: 1.15rem;
    text-align: center;
    letter-spacing: 10px;
    border-top: 1px solid white;
    padding-top: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.floatingTxt>p>span{
    font-size: 2rem;
    letter-spacing: normal ;
    font-weight: bold;
}
.intro::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    background: black;
    opacity: 0.25;
    top: 0;
    left: 0;
}
@keyframes introAni{
    0%{ 
        transform: translateY(25px)/*rotateY(45deg)*/;
        opacity: 0;
    }
    100%{
        transform: translateY(0px)/*rotateY(0deg)*/;
        opacity: 1;
    }
}
.floatingTxt h1{
    /* animation: introAni 1s linear 0s infinite alternate; */
}