@keyframes introAni{
    0%{ 
        /* transform: translateY(25px) */
        opacity: 0;
    }
    100%{
        /* transform: translateY(0px) */
        opacity: 1;
    }
}
@keyframes moveLeftToRight {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveRightToLeft {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveToptoBottom {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes moveBottomtoTop {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes scale{
    0%{
        opacity: 0;
        transform: scale(10);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}