*{margin: 0;padding: 0;}
ul{list-style: none;}


body{
    background: orange;
}
.aaa{
    /* border: 1px solid red; */
    /* overflow: hidden; */
    position: relative;
    margin: 0 auto;
    width: 1600px;
    height: 970px;
    /* background: url(./img/1169.png)no-repeat;
    background-size: contain; */
}
.aabg{
    position: absolute;
    width: 90%;
    height: 90%;
    object-fit: contain;
    top: 45px;
    left: 80px;
}
.station{
    overflow: hidden;
    position: absolute;
    width: 435px;
    z-index: -1;
    margin-left: 434px;
    margin-top: 100px;
}
.train{
    width: 700%;
    display: flex;
    /* margin-left: -120px; */
    transition: all 2s ease 0s;
}
.train img{
    width: 435px;
    height: 435px;
    object-fit: contain;
    filter: sepia(0.4);
}
.navigation{
    position: absolute;
    top: 550px;
    left: 500px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 20px;
}
.title{
    font-size: 160px;
    position: absolute;
    z-index: -10;
    margin: 0 auto;
}
.title>span{
    margin-left: 550px;
}
