*{margin: 0; padding: 0;}
.box{
    margin:0 auto;
    border: 10px solid orange;
    /*background-color: pink;*/
    width: 1000px;
    height: 600px;
    padding: 40px;
    /*background-image: url("../img/hokusai.jpg");
    background-repeat: no-repeat;*/
    /*background-position-x: 100px;
    background-position-y: 100px ;*/
    /*background-position: 100px 100px;*/
    background: beige url(../img/hokusai.jpg) no-repeat 100px 100px;
}
.box2{
    width: 1000px; height: 800px;
    border: 1px solid skyblue;
    margin: 0 auto;
    margin-top: 150px
    ;
    /*background: url(../img/hokusai.jpg) no-repeat 180px 180px;
    right top;*/
    background: url(../img/hokusai.jpg) no-repeat calc(100% - 100px) calc(100% - 50px);
}
.box2>h2{
    border: 1px solid red;
    width: calc(50% + 50px);
}
.box3{
    width: 800px;
    height: 800px;
    border: 1px solid salmon;
    margin: 0 auto;
    background: url(../img/hokusai.jpg) no-repeat 0 0;
    background-size:contain;
}
.box4{
    background: url(../img/hokusai.jpg) no-repeat 0 0, url(../img/hokusai.jpg) no-repeat right;
    border: 10px solid red;
    width: 100vw; height: 440px;
    /* 배경은 ,(콤마)를 통해 두개이상 넣어줄 수 있다.*/
}
.box5{
    border: 10px solid orange;
    width: 30vw;
    height: 30vw;
    margin: 0 auto;
    /*background-image: linear-gradient(0deg,orange,skyblue);
    background-position: 100px 100px;*/
    background-image: radial-gradient(skyblue,orange);

}
.box6{
    width: 100%;
    height: 500px;
    border: 10px solid olive;
    margin: 0 auto;
    background: url(../img/hokusai.jpg), linear-gradient(45deg,red,orange);
    background-blend-mode:screen;
    background-attachment: fixed;
}