h1,p{border:1px solid red}
span{border: 1px solid blue;}
.box{width: 300px; height: 300px;}
.line{width: 300px; height: 300px;}
select{ width: 100px; height: 100px;}
h1{display:block; width: 200px; height: 300px;}
.line{display:inline-block;}