/* 1.reset */
*{margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: normal;}
address,em,i{font-style: normal;}
strong,b{font-weight: normal;}
a{text-decoration: none;color: inherit;}



/* 2. commit - style */
body{font-family: 'Times New Roman', Times, serif; font-size: 14px; background-color: ivory;}



/* 3. layout - (크기, 배치) */
.container{
    width: 900px;
    margin: 0 auto;
    background: url(../cosmo/images/dream.jpg) no-repeat 100% 100%; }



/* 4. detail(글씨크기, 글씨색,배경색, 마진, 패딩)*/
.container>h1{font-size: 50px; font-weight: bold; background: green; color: white; border-bottom: 5px solid red; border-top:  5px solid red; text-align: center; padding: 10px 0; margin-bottom: 10px;}
.container>h2{font-size: 30px; font-weight: bold; background:orange; border-bottom: 5px solid red; margin-bottom: 10px;}
.container>p{margin-bottom: 10px;}
.copy{border-top: 5px solid red; font-weight: bold; padding:10px 0 0 0;}











/*.container{
   margin: auto;
    width: 900px;
    background: url(../cosmo/images/dream.jpg) no-repeat 100% 100%;}
.header{border-top: 5px solid red; border-bottom: 5px solid red; background-color: green; margin-bottom: 10px;}
.header>h1{color: white; font-size: 50px; margin-top: 10px; margin-bottom: 10px; text-align: center;}
h2{font-size: 30px; background-color: orange; border-bottom: 5px solid red; margin-bottom: 5px;}
p{margin-top: 5px; margin-bottom: 5px;}
.box3{border-bottom:  5px solid red;}
footer{height: 150px; font-size: 18px;}*/
