*{margin:0; padding:0;}
.box1{ border: 1px solid red;
margin: 100px 50px;}
.box2{ border: 1px solid blue;
margin: 50px 200px 100px;}
.box3{ border: 1px solid orange; margin: 50px 100px 150px 200px;}
.box4{border: 10px solid black;}
.box5{border: 10px solid darkgoldenrod; margin-top: 150px; margin-bottom: 50px;}
.box6{border: 5px solid skyblue; display: inline-block; width: 400px; margin-right: 50px;}
.box7{border: 5px solid mediumpurple; display: inline-block; width: 400px; margin-left: 50px;}
.inline{font-size: 2rem; border: 1px solid red; margin-left: 100px; margin-right: 100px; margin-top: 200px; padding-left: 100px; padding-top: 30px;}
b{border: 1px   solid orangered;}