*{margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: normal;}
address,em,i{font-style: normal;}
strong,b{font-weight: normal;}
a{text-decoration: none;color: inherit;}
ol,ul{list-style:none;}

@font-face {
    font-family: "century";
    src: url(../source/font/CENTURY.TTF);
}





html{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 300;
}


/* .container{
    width: 1200px;
    margin: 0 auto;
} */
h1{font-family:"century";}







/*헤더*/
header{
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    /* background: #294433; */
    color: #D7C08E;
    left: 0;
    top: 0;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    z-index: 100;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}
header:hover{
    width: 100%;
    height: 80px;
    background: #294433;
    color: #D7C08E;
}


.headL{
    width: 50px;
    height: 30px;
    margin-left: 100px;

}
.headL>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}




.logo{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50% );
    top: 50%;
    width: 180px;
    height: 35px;
}
.logo>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}





.headR{
    margin-right: 100px;
}
.headR>ul{
    display: flex;
}
.headR>ul>li{
    padding-right: 50px;
}
.headR>ul>li:last-of-type{
    padding-right: 0 ;
}





.menubutton{
    width: 40%;
    position: fixed;
    height: 100%;
    display: none;
    left: 0;
    top: 0;
    background: #294433;
    color: #D7C08E;
}





/*메인*/


.videobanner{
    position: absolute;
    width: 100%;
    height: 100vh;
    top:0; 
    left: 0;
}

.videobanner>video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    filter: brightness(0.4);   
}

.videobanner>div{
    position: absolute;
    left: 50%;
    top: 56%;
    
    width: 30%;
    height: 20%;
}
.videobanner>div>h1{
    position: absolute;
    transform: translate(-100%, -70%);
    font-size: 6rem;
    font-family:"century";
    color: #D7C08E;
}
.videobanner>div>h1>span{
    margin-left: 34%;
}
.videobanner>div>h2{
    position: absolute;
    transform: translate(-100%, +180%);
    font-size: 1.5rem;
    font-family:'Noto Sans KR', sans-serif;
    color: #D7C08E;
}






/*비스포크*/


.main_bespoke{
    margin-top: 1330px;
    position: relative;
    height: 1400px;
}
.main_bespoke>div{
    position: relative;
    height: 600px;

}

.main_bespoke>div>video{
    position: absolute;
    width: 1024px;
    height: 600px;
    object-fit: contain;
    left: 10%;
    filter: brightness(1.2);
}

.main_bespoke>div>h1{
    position: absolute;
   /* padding-top: 770px; */
   font-size: 6rem;
   color: #294433;
   text-transform: uppercase;
   /* margin-left: 100px; */
   left: 32.5%;
   top: -20%;
}
#bpbg{
    position: absolute;
    bottom: 0;
    right: 0%;
    width: 1200px;
    height: 738px ;
    object-fit: cover;
}
.main_bespoke>section{
    border: 1px solid red;
    width: 1200px;
    margin: 0 auto;
}

.main_bespoke>div>h1>span{
    padding-left: 210px;
}
.bpcontent>h2{
    font-size: 28px;
    color: #294433;
    margin-bottom: 100px;
}
.bpcontent{
    border: 1px solid slateblue;
    padding-top: 210px;
   width: 360px;
}
.bpcontent p{
    margin-top: 15px;

}
.bpcontent p+p{
    /* border-bottom: 1px; */
    padding-bottom: 105px;
    /* width: 360px; */
    border-bottom: 1px solid #294433;

}
.bpcontent>a{
    float: right;
}
.bpcontent>a>img{
    width: 35px;
    height: 25px;
    object-fit: contain;
    vertical-align: middle;
}
