*{margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: inherit;}
address,em,i{font-style: normal;}
strong,b{font-weight: normal;}
a{text-decoration: none;color: inherit;}
ol,ul{list-style:none;}

@font-face {
    font-family: "century";
    src: url(../source/font/CENTURY.TTF);
}





html{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 200;
}


/* .container{
    width: 1200px;
    margin: 0 auto;
} */
h1{
    font-family:"century";
    white-space: nowrap;
}
h2{font-weight: 400;}







/*헤더*/
header{
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    /* background: #294433; */
    color: #D7C08E;
    left: 0;
    top: 0;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    z-index: 1000;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}
header:hover{
    width: 100%;
    height: 80px;
    background: #294433;
    color: #D7C08E;
}


.headL{
    width: 50px;
    height: 30px;
    margin-left: 100px;

}
.headL>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}




.logo{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50% );
    top: 50%;
    width: 180px;
    height: 35px;
}
.logo>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}





.headR{
    margin-right: 100px;
}
.headR>ul{
    display: flex;
}
.headR>ul>li{
    padding-right: 50px;
}
.headR>ul>li:last-of-type{
    padding-right: 0 ;
}





.menubutton{
    width: 0%;
    position: fixed;
    height: 100%;
    display: none;
    left: 0;
    top: 0;
    background: #294433;
    color: #D7C08E;
    z-index: 801;
    transition: all 0.5s ease 0s;
}
/* .menubutton::before{
    content: "";
    width: 0%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 800;
    transition: all 0.5s ease 0s;
    
} */
.headL:hover>.menubutton{
    display: block;
    transition: all 0.5s ease 0s;
    width: 40%;
}
.menutop img{
    width: 270px;
    height: 60px;
    object-fit: contain;
    margin-top: 30px;
    margin-left: 30px;
}
.menubottom{
    width: 540px;
    height: 600px;
    margin: 150px auto;
}
.menubottom>ul>li {
    margin-left: 60px;
    font-size: 28px;
    color: #D7C08E;
    font-weight: 400;
    margin-bottom: 60px;
}
.menubottom>ul>li>ul>li{
    margin-top: 30px;
    margin-left: 60px;
    font-size: 18px;
    color: #ddd;
    font-weight: 200;
}
.menubottom>ul>li>ul>li:hover{
    color: white;
}




/*메인_비디오배너*/


.videobanner{
    position: absolute;
    width: 100%;
    height: 1080px;
    top:0; 
    left: 0;
    z-index: 400; 
}

.videobanner>video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    filter: brightness(0.4); 
  
}

.videobanner>div{
    position: absolute;
    left: 50%;
    top: 56%;
    color: rgb(221, 221, 221);
    width: 30%;
    height: 20%;
}
.videobanner>div>h1{
    position: absolute;
    transform: translate(-100%, -70%);
    font-size: 6rem;
    font-family:"century";
    /* color: #D7C08E; */
}
.videobanner>div>h1>span{
    margin-left: 34%;
}
.videobanner>div>h2{
    position: absolute;
    transform: translate(-100%, +180%);
    font-size: 1.5rem;
    font-family:'Noto Sans KR', sans-serif;
    font-weight: 400;
    /* color: #D7C08E; */
}






/*메인_비스포크*/


.main_bespoke{
    margin-top: 1330px;
    position: relative;
    height: 1600px;
}
.main_bespoke>div{
    position: relative;
    height: 600px;

}

.main_bespoke>div>video{
    position: absolute;
    width: 1024px;
    height: 600px;
    object-fit: contain;
    left: 50%;
    transform: translateX(-75%);
    filter: brightness(1.2);
}

.main_bespoke>div>h1{
    position: absolute;
   /* padding-top: 770px; */
   font-size: 120px;
   color: #294433;
   text-transform: uppercase;
   /* margin-left: 100px; */
   left: 50%;
   transform: translateX(-50%);
   top: -20%;
}
#bpbg{
    position: absolute;
    bottom: 0%;
    right: 50%;
    transform: translateX(80.5%);
    width: 1180px;
    height: 738px ;
    object-fit: cover;
}
.main_bespoke>section{
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.main_bespoke>div>h1>span{
    padding-left: 210px;
}
.bpcontent>h2{
    font-size: 28px;
    color: #294433;
    margin-bottom: 100px;
}
.bpcontent{
    padding-top: 210px;
   width: 360px;
}
.bpcontent p{
    margin-top: 15px;

}
.bpcontent p+p{
    /* border-bottom: 1px; */
    padding-bottom: 105px;
    /* width: 360px; */
    border-bottom: 1px solid #294433;

}
.bpcontent>a{
    color: #294433;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
/* .linkpoint{
    width: 35px;
    height: 25px;
    background-image: url(../source/img/icon/SVG/바로가기.svg)no-repeat;
    background-size:contain ;
    color: #294433;

} */

.bpcontent>a::after{
    content:"";
    width: 35px;
    height: 25px;
    background: url(../source/img/icon/SVG/바로가기.svg) no-repeat 0,0;
    background-size:contain ;
    
}




/* 메인_헤리티지리갈 페이지*/

.heritage{
    background: #294433;
    color: #D7C08E;
    height: 970px;
    position: relative;
    border-bottom: 0.75px solid #D7C08E;
    z-index: 10;
}
.heritage::after{
    content: "";
    width: 20px;
    height: 20px;
    border: 0.75px solid #D7C08E;
    background: #294433;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 100%;
}
.heritage>img{
    width: 887px;
    height: 806px;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 5%;
}
.heritage>section{
    width: 1200px;
    margin: 0 auto;
}
.heritage>section>article>h1{
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-70%);
    font-size: 120px;
    text-transform:uppercase;

}
.heritage>section>article>h2{
    padding-top: 210px;
    font-size:28px ;
}
.heritage>section>article{
    width: 518px;
}
.heritage>section>article>p{
    color: #ddd;
    margin-top: 150px;
    padding-bottom: 105px;
    /* width: 360px; */
    border-bottom: 1px solid #D7C08E;
}



.heritage>section>article>p>span{
    color: #D7C08E;
}


.heritage>section>article>a{
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.gwtext{
    display: none;
    
}
/* .heritage>section>article>a>img{
    width: 35px;
    height: 25px;
    object-fit: contain;
} */
.heritage>section>article>a::after{
    content:"";
    width: 35px;
    height: 25px;
    background: url(../source/img/icon/SVG/Layer\ 2.svg) no-repeat 0,0 ;
    background-size:contain ;
    
}



/*메인_스타일가이드*/


.styleguide{
    border-bottom: 0.75px solid #D7C08E ;
    height: 970px;
    background: #294433;
    color: #D7C08E;
    position: relative;
    z-index: 9;
}

.styleguide::after{
    content: "";
    width: 20px;
    height: 20px;
    border: 0.75px solid #D7C08E;
    background: #294433;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 100%;
}


.styleguide>section{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.styleguide>section>h1{
    position: absolute;
    left: 50%;
    top: 75px;
    transform: translateX(-50%);
    font-size: 100px;
}


.styleguide>section>h2{
    position: absolute;
    left: 50%;
    top: 250px;
    transform: translateX(-50%);
    font-size: 18px;
    text-align: center;
    font-weight: 200;
    color: #ddd;
    padding: 50px 0;
}

.styleguide>section>h2::before{
    content: "";
    border-top: 0.75px solid #D7C08E;
    width: 170px;
    height: 0.75px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
}
.styleguide>section>h2::after{
    content: "";
    border-top: 0.75px solid #D7C08E;
    width: 170px;
    height: 0.75px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 100%;
}


.styleguide>section>ul{
    display: flex;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 480px; 
    justify-content: space-between;
    width: 100%;

    

}
.styleguide>section>ul>li{
    width: 213px;
    height: 213px;
    position: relative;
    padding-right: 55px;
}
.styleguide>section>ul>li>a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.styleguide>section>ul>li>a>p{
    color: #ddd;
}
.styleguide>section>ul>li img+p{
    font-size: 28px;
    font-family: "century";

}
.styleguide>section>ul>li img{
    width: 70%;
    height: 126px;
    object-fit: contain;
    margin-bottom: 20px;
    transition: all 0.4s ease 0s;
}
.styleguide>section>ul>li:hover img{
    transform: scale(1.35);
}
.styleguide>section>ul>li:hover p{
    color: #D7C08E;
    transition: all 0.4s ease 0s;
    
}


.styleguide>section>ul>li::after{
    position: absolute;
    top: 25%;
    right: 0;
    transform: translateY(-50%) rotate(45deg);
    content: "";
    border: 1px solid #D7C08E;
    width: 10px;
    height: 10px;
}
.styleguide>section>ul>li:last-of-type::after{
    border: none;
}

/*----------픽토그램 -----------*/

.styleguide>section>a{
    display: flex;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 722px; 
    z-index: 100;
    margin-top: 50px;
}
.styleguide>section>a::after{
    display: flex;
    position: absolute;
    transform: translate(-50%,-25%);
    left: 50%;
    top: 0px; 
    content: "";
    width: 174px;
    height: 50px;
    border: #D7C08E 1px solid;
    z-index: 1;
}










/*other brand*/

.otherbrand{
    height: 1200px;
    width: 100%;
    background: #294433;
    position: relative;
}
.otherbrand>h1{
    left: 50%;
    transform: translateX(-90%);
    color: #D7C08E;
    position: absolute;
    top: 100px;
    font-size: 120px;
    text-transform: uppercase;
    border-bottom: 5px solid #D7C08E;
}
.otherbrand>video{
    position: absolute;
    width: 1280px;
    height: 720px;
    object-fit: contain;
    left: 50%;
    transform: translateX(-60%);
    top: 300px;
    filter: brightness(0.6);
    border: 5px solid #D7C08E;
}
.main_otherbrand_videotext{
    color: #D7C08E;
    position: absolute;
    top: 70%;
    right: 50%;
    transform: translateX(80%);
    font-size: 28px;
    font-weight: 400;
}
.main_otherbrand_videotext>h2{
    margin-bottom: 20px;
}
.main_otherbrand_videotext>a{
    float: right;
    font-weight: 200;
    font-size: 18px;
}
.main_otherbrand_videotext>a::after{

    width: 40px;
    content: "";
    height: 30px;
    background: url(../source/img/icon/SVG/Layer\ 2.svg) no-repeat 0,0;
    background-size: contain;
    position: absolute;
}


/*브랜드슬라이드*/

.main_otherbrand_brand{

    width: 1200px;
    margin: 0 auto;
    margin-bottom: 200px;
}
.main_otherbrand_brand>h2{

    margin: 80px 0 30px 0;
    
    text-transform: uppercase;
    font-weight: 400;
    font-size: 28px;

}
.main_otherbrand_brand>h2 img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}
/* .main_otherbrand_brand>h2>a{
    float: right;
    padding-right: 35px;
    font-weight: 200;
    font-size: 18px;
    
}
.main_otherbrand_brand>h2>a::after{
    position: absolute;
    content:"";
    width: 35px;
    height: 25px;
    background: url(../source/img/icon/SVG/바로가기.svg) no-repeat 0,0;
    background-size:contain ;
} */
.main_otherbrand_brand>ul{
    display: flex;
    justify-content: space-between;
}
.main_otherbrand_brand>ul>li{

    width: 274px;
    height: 274px;
}
.main_otherbrand_brand>ul>li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.main_controler>ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 0.75px solid #D7C08E;
    padding-right: 30px;
    position: fixed;
    right: 2%;
    top: 20%;
    height: 280px;
    color: #D7C08E;
    z-index: 300;

    

}
.main_controler>ul>li{
    opacity: 40%;
}
.main_controler>ul .on{
    opacity: 1;
}





/*푸터*/



footer{
    z-index: 900;
    position: relative;
    background: #294433;
    width: 100%;
    
}
footer>img{
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-660px,30px);
    width: 300px;
    height: 90px;
    object-fit: contain;

}
footer>section{
        width: 1200px;
        margin: 0 auto;
        display: flex;
        padding-top: 120px;
        justify-content: space-between;

}
.FLlist{
    width: 935.19px;
}
.FLlist span{
    color: #D7C08E;
}
.FLlist>ul>li>a{
    margin-left: 71px;
    color: #999;
}

.FLlist>ul>li{
    font-weight: 400;
    color: #ddd;
    margin-top: 22px;
    
}
.FLlist>ul>li>ul{
    margin-right: 307px;
    display: flex;
    float: right;
}
.FLlist>ul>li:last-of-type{
    margin-right: 198px;
}
.FLlist>ul>li>ul>li{
 margin-left: 8px;
 color: #999;
}
.FLbottom{
    font-size: 15px;
    margin-top: 20px;
    color: #999;
}
.FLbottom>dl{
    display: flex;
    flex-wrap: wrap;
}
.FLbottom dd{
    padding: 0 15px;
}
.FLbottom dt{
    font-weight: 400;
}
.FLbottom p{
    margin: 20px 0;
}

.FRinfo{
    color: #999;
}
.frinfo1{
    color: #ddd;
    font-weight: 400;
}
.frinfo1+dl{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.frinfo1+dl+dl{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}


.sns>ul{
    margin-top: 40px;
    display: flex;
}
.sns>ul>li{
    margin-right: 20px;
}