html{font-size:16px;}
h1{font-size:5rem;}
.font_list{font-size:2rem;}
.a{font-size:1.15em;}
/* 브라우저들 마다 조금씩 차이가 있지만 기본적으로 16픽셀의 크기로 설정되어 있다.
1rem - html태그에 적용된 글씨 크기
1em - 부모태그에 적용된 글씨 크기
*/
.b{font-weight:bold;}
/* 
키워드방식- normal(기본값)/lighter(얇게)/bold(두껍게)
수치입력방식 - 100~900까지 100단위로
100,200,300,...,900, 400(기본값)
수치가 높을 수록 굵어진다.
*/
.c{font-style: italic;}
/* 
기본값(normal)
*/
.d{
    font-size: 20px;
    line-height:320%;
}
/* 
line-height 글씨를 감싸는 보이지 않는 라인의 높이를 의미하며, 기본적으로 글씨의 크기에 비례하여 120% 비율로 설정되어있다. %단위는 단위없이 정수로 소수점과 함께 사용하여 표현할 수 있다.
232% -> 2.32
*/
.e{font-family:dotum,"돋움",sans-serif;}
/* 
font-family의 속성값은 콤마를 사용하여 브라우저에 설치가 되어있지 않은 폰트들에 대하여 다음 대안이 될 폰트를 설정할 수 있다.
시스템폰트는 모든브라우저에 설치되어 있다
serif -> 획이있는 명조체 계열의 시스템폰트
sans-serif -> 획이없는 고딕체 계열의 시스템폰트
cursive -> 손글씨체 계열
*/
.f{text-indent:100px;}
.g{text-decoration:line-through;color:gray;}
/* 
none(기본값) / underline(밑줄) / linethrough(취소선)
*/
.h{letter-spacing:1rem;}
.i{word-spacing:20px;}
.j{word-break:keep-all;}
.k{white-space:nowrap;}
/* normal(기본값)/ nowrap(줄바꿈허용X) */
.l{text-align:justify;}
/* 
left(기본값)/right/center/justify(양쪽정렬- 왼쪽과 오른쪽 가장자리 라인에 텍스트를 맞추는것을 우선적으로 처리함)
*/
.m{text-transform:uppercase;}
/* 
uppercase(대문자로변형)/lowercase(소문자)/capitalize(앞글자만 대문자)   
*/
.p1{
    /* font-size:24px;
    font-weight: bold;
    font-style:italic;
    font-family:'Times New Roman', Times, serif;
    line-height: 200%; */
    font:italic bold 24px / 24px 'Times New Roman', Times, serif;
    /* 축약형 표현 시 필요한 개별속성만 입력해도 되나 font 의 축약형 표현에서는 최소 font-size/font-family가 명시되어있어야 한다. */
    /* 축약형 표현은 띄어쓰기로 값을 구분.(경우에 따라서 /사용해서 구분할 때가 있음) */
    border:1px solid red;
}