*{margin:0;padding:0;}
ul{list-style: none;}

.fixedBox{
    height:5000px;
}
.elevator{
    height:100vh;
    width:100%;
    position:fixed;
    left:0;
    top:0;

}
#svgFrame {
    height: 100%;
    margin: 0 auto;
    display: block;
    width: 50%;
}
.curvedLine{
    fill:none;
    stroke:black;
}
#svgFrame text{
    font-size:1.5rem;
}