*{margin:0;padding:0;}
ul,ol{list-style:none;}

.skill{
    
    width:1200px;
    margin:0 auto;
    display:flex;
}
.skill>li{
    
    flex:1;
    margin-right:10px;
}
.skill>li:last-of-type{
    margin-right:0;
}
.skill >li h2{
   
    text-align: center;
    margin-bottom:10px;
}
.skill >li p{
    
    text-align: center;
}
.skill > li >figure{
   
    position:relative;
}
.per{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
.skill > li svg{transform:rotate(-90deg);}
.skill > li circle{
    fill:none;
    stroke:navy;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    /* transition:all 0.5s ease 0s; */
}
/* .skill > li:hover circle{
    stroke-dashoffset: 0;
} */
.per{
    font-size:30px;
}