h1{color: salmon;}
h2#a.title.tutle2{color: aquamarine;}
#a{color: violet;}
body div.box>h2.title{color: crimson;}
div.box>h2.title{color: black;}
div>h2.title{color: aqua;}
h2.title{color: blueviolet;}
.title{color: chartreuse;}
h2{color: brown;}
h2{text-decoration: underline;}
