*{margin:0;padding:0;}
ul{list-style:none;}
a{text-decoration: none;color:inherit;}
img{max-width:100%;}

/* slide layout */
.station{
    margin: 100px auto;
    width:100%;
    height:600px;
    overflow: hidden;
    position:relative;
}
.train{
    width:500%;
    height:100%;
    display:flex;
    transition:all 1s ease 0s;
}
.train>li{
    width:100%;
    height:100%;
}
.train>li img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.controler{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:90%;
    display:flex;
    justify-content: space-between;
}
.controler>a{
    padding:10px;
    cursor: pointer;
    background:#fff;
}
