.box{
    border:1px solid red;
    width:500px;
    height:500px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.btn{
    border:1px solid blue;
    width:100px;
    height:100px;
}