*{margin:0;padding:0;}
.wrap{
    width:1000px;
    margin:0 auto;
}
.wrap>section{
    font-size:2.5rem;
    padding:20vh 0;
}
.wrap>section h1{
    margin-bottom:30px;
}
.mrtl{
    transform:translateX(50px);
    opacity: 0.1;
    transition:all 0.5s ease 0s;
}
.mrtl.on{
    transform:translateX(0);
    opacity: 1;
}
.mltr{
    transform:translateX(-50px);
    opacity: 0.1;
    transition:all 0.5s ease 0s;
}
.mltr.on{
    transform: translateX(0);
    opacity: 1;
}
.mttb{
    transform:translateY(-50px);
    opacity: 0.1;
    transition:all 0.5s ease 0s;
}  
.mttb.on{
    transform:translateY(0);
    opacity: 1;
}
.mbtt{
    transform:translateY(50px);
    opacity: 0.1;
    transition:all 0.5s ease 0s;
}
.mbtt.on{
    transform:translateY(0);
    opacity: 1;
}

li{
    margin:50px 0;
}