*{margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: normal;}
address,em,i{font-style: normal;}
strong,b{font-weight: normal;}
a{text-decoration: none;color: inherit;}



.mainbanner{height: 780px; position: relative; }
.mainbanner>video{width: 100%; height: 100%; object-fit: cover;}


.mainbanner>h2{ position: absolute; left:calc((100% - 549.19px)/2); top:calc((100% - 170px)/2); font-size: 8rem; width: 549.19px; height: 170px; color: white; font-weight: bold; z-index: 2;}


.mainbanner::after{content: ""; background: black; position: absolute; width: 100%; height: 100%; left: 0;top: 0; opacity: 40%;}

/*.op{background: black; position: absolute; width: 100%; height: 100%; left: 0;top: 0; opacity: 40%;}*/
