*{margin: 0; padding: 0;}
address,em,i{font-style: normal;}
strong,b{font-weight: normal;}
a{text-decoration: none;color: inherit;}
ol,ul{list-style: none;}

html{
    font-family: 'Noto Sans KR', sans-serif;
}

.box{
    border: 1px solid salmon;
    width: 200px;
    height: 200px;
    margin: 50px auto;
    transition: all 0.5s ease 0s;
}

.a:hover{
    transform: translateX(100%);
}
.b:hover{
    transform: translateY(50%);
}
.c:hover{
    transform: translate(50%,50%)

}

.d:hover{transform: translateZ(100px);}
.parent{perspective: 60vh;perspective-origin: 50% 50%;}
.e{transform-origin: 50% 50%;}
.e:hover{transform: scaleX(2);}
.f:hover{transform: scaleY(2);transform-origin: {100%};}
.g:hover{transform: scale(1.2);}
 .h{transform-origin: 10% 10%;}
.h:hover{transform: rotate(360deg); /*transform-origin: 10% 10%;*/}

.i:hover{transform: rotateX(180deg);}
.j:hover{transform: rotateY(180deg);}

.k:hover{transform: skewX(30deg);}
.y:hover{transform: skewY(30deg);}