*{margin: 0;padding: 0;}
ul,ol{list-style: none;}


.skill{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
.skill>li{
    margin-right: 10px;
    flex: 1;
}
.skill>li:last-of-type{
    margin-right: 0;
}
.skill>li>h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}
.skill>li>p{
    padding: 10px;
    text-align: center;
    color: #666;
}
.skill>li>figure{
    position: relative;
}
.per{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #09b1c7;
    font-size: 2rem;
    opacity: 0;
}
figure svg{ 
    transform: rotate(-90deg);
}
figure circle{
    fill: none;
    stroke: #09b1c7;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    /* transition: all 1s ease 0s; */
}