*{margin:0;padding:0;}

.intro{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.intro figure{
    width:1600px;
}
#introtxt path{
    fill:transparent;
    stroke:black;
    /* transition:width 1s ease 0s,height 1s ease 1s; */
}
#introtxt.on path{
    stroke-dashoffset:0!important;
    fill:red;
}
