*{padding: 0; margin: 0;}
 .parent{width: 800px;border: 1px solid red;margin: 0 auto;}
 .parent>p{   border: 10px solid palevioletred
 }.paremt2{width: auto border 10px solid  blck   padding 0 auto;}   
 .parent3{ border: 1px solid black; width: 80%; margin: 0 auto;}    .parent3>p{width: 50%;    border: 1px solid blueviolet;}    .parent4{border: 1px solid blue;    width: 1000px; margin: 0 auto;}    .parent4>p{ border: 10px solid salmon; width: 30vw;}    .parent4>p+p{width: 50vh;}    .box2{border: 5px solid orange;    width: 200px; ;}    .box3{border: 5px solid skyblue; width: 200px; }